<div class="container">
  <header class="page-header">
    <%= link_to "←", tasks_path, class: "back-link" %>
    <h1>タスクの編集</h1>
  </header>

  <% provide(:button_text, 'タスクを更新する') %>
  
  <%= render 'form', task: @task %>

</div>