<div class="container">
  <header class="page-header">
    <%= link_to "←", tasks_path, class: "back-link" %>
    <h1>タスク作成</h1>
  </header>

  <% provide(:button_text, 'タスクを登録する') %>
  <%= render 'form', task: @task %>
</div>